/*font-family: 'Arvo', serif;
font-family: 'Rock Salt', cursive;*/

body{

	font-family: 'Arvo', serif;
	color:#0f0a0a;
	margin: 0 auto;
	padding: 10px 50px;
}

img {
	max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
    
}
.content{
	display: block;


}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #0f0a0a;	
}

li{ 
	float: left;

}
li a {
    display: inline-block;
   color: #f5efed;
   text-align: center;
   padding: 20px 22px;
   text-decoration: none;
   
}

li a:hover{
	background-color: #1c7c54;
}
.footer{
	 background-color: #0f0a0a;
    color: white;
    padding: 20px;


}