/*font-family: 'Arvo', serif;
font-family: 'Rock Salt', cursive;*/

body{

	font-family: 'Arvo', serif;
	color:#0f0a0a;
	margin: 0 auto;
	padding: 0px ;
}

img {
	max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
    
}

.content{
	display: block;
	padding: 50px;


}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0px 50px;
	overflow: hidden;
	background-color: #0f0a0a;	
}

li{ 
	float: left;

}
li a {
   display: inline-block;
   color: #f5efed;
   text-align: center;
   padding: 20px 22px;
   text-decoration: none;
   
}
hr {
	height: 1px;
color: #123455;
background-color: #123455;
border: none;

}
li a:hover{
	background-color: #1c7c54;
}
.footer{
	 font-family: 'Rock Salt', cursive;
	 
     color: black;
     padding:  20px 0px;
}

